name: Continuous Integration & Continuous Deployment

on:
  push:
    branches: [main, "feat/**"]
    paths:
      - "src/**"
      - "terraform/**"
      - "Dockerfile"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install poetry
          poetry install
      - name: Run tests
        run: poetry run pytest --tb=short

  terraform_infra:
    name: "Provision Storage & IAM"
    runs-on: ubuntu-latest
    needs: [test]
    environment: main_env
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
      AWS_DEFAULT_REGION: "ap-southeast-1"
      TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
      TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
      - name: Terraform Init
        run: terraform -chdir=terraform init
      - name: Terraform Apply Core
        run: |
          terraform -chdir=terraform apply \
            -target=aws_iam_user.jobscraper_bot \
            -target=aws_ecr_repository.scraper_repo \
            -target=aws_s3_bucket.bronze \
            -auto-approve

  build_and_push:
    name: "Build & Push Docker Image"
    runs-on: ubuntu-latest
    needs: [terraform_infra]
    environment: main_env
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx # FIX: Penting untuk caching
        uses: docker/setup-buildx-action@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: "ap-southeast-1"
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build and push # FIX: Menggunakan GHA Cache
        uses: docker/build-push-action@v4
        with:
          context: .
          provenance: false
          platforms: linux/amd64
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/job-scraper-lambda:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  terraform_lambda:
    name: "Finalize Deployment"
    runs-on: ubuntu-latest
    needs: [build_and_push]
    environment: main_env
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
      AWS_DEFAULT_REGION: "ap-southeast-1"
      TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
      TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
      - name: Terraform Init
        run: terraform -chdir=terraform init
      - name: Terraform Apply Full
        run: terraform -chdir=terraform apply -auto-approve
